 body {

  background-color: #BBD3B3;
  font-family: Montserrat, sans-serif;
  line-height: 1.5em;
  
 }

 h1 {

  text-align: center;
  color: #2C4144;
  margin-top: 1.5em;
}

textarea {

  width: 100%;
}

.group {

  margin-bottom: 1.7em;
}

#form_body {

  margin: 0 auto;
  padding: 2em;
  background-color: #ef5540;
  color: #1f2728;
  width: 70%;
  max-width: 750px;
  border-radius: 5px;
}

.button {

  background-color: #BBD3B3;
  border: none;
  border-radius: 5px;
  color: #2C4144;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

p#description {

  font-weight: bold;
  padding-bottom: 1em;
} 